@model PortfolioFe.Domain.Bank.Account?


<div class="card mb-3">
    <div class="card-body">

        @if (Model == null)
        {
            <h5 class="card-title">
                Account not found
            </h5>
        }
        else
        {
            <h5 class="card-title">
                @Model.FirstName @Model.LastName
            </h5>

            <h6 class="card-subtitle mb-2 text-muted">
                Account ID: @Model.Id
            </h6>

            @* <p class="card-text"> *@
            @*     <strong>Email:</strong> @Model.Email *@
            @* </p> *@

            <p class="card-text">
                <strong>Balance:</strong> @Model.Balance.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR"))
            </p>

            <p class="card-text">
                <strong>Overdraft Limit:</strong> @(Model.OverdraftLimit.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR")))
            </p>

            <p class="card-text">
                <strong>Available Funds:</strong>
                @((Model.Balance + Model.OverdraftLimit).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("fr-FR")))
            </p>
        }
    </div>
</div>